body, form, ul, ol, dl, dd, p{margin:0}a, a:hover{text-decoration:none}html{overflow:auto}body{font:status-bar;background-color:#fff;overflow:hidden}
.main{font-size:14px;overflow:hidden}.main > .aside{float:left;padding-top:70px;padding-bottom:3999em;margin-bottom:-3991em;border-right:1px solid #E3E8F1;background-color:#fff}.main > .aside img{user-select:none}.aside_bg{width:199px;position:absolute;top:0;bottom:0;border-right:1px solid #E3E8F1;background-color:#fff}.main > .aside, .aside_bg{width:199px}.aside_main{display:inline-block;width:100%;background-color:#fff;position:relative;white-space:nowrap}.aside_dl{margin:10px 0}.aside_dt{height:30px;line-height:30px;padding-left:22px;color:#999;}.aside_nav{display:block;height:21px;padding:8px 20px;color:#4c5161;transition:background-color .25s, color .5s;cursor:pointer;position:relative}.aside_nav:hover{color:#4c5161;background-color:#eceef3}.aside_nav > .icon{display:inline-block;width:20px;height:20px;margin-right:7px;vertical-align:-5px;*vertical-align:-1px;text-align:center;line-height:20px;color:#2486ff;}.aside_dl .active{background-color:#2486ff;color:#fff}.aside_dl .active .icon{color:#fff;}.aside_divide{margin:10px;border-top:1px solid #e9ebf2}
:root .aside .icon{background:none;}
.icon > svg{display:block;width:16px;height:16px;margin:2px;fill:currentColor;}
.dn{display:none}
body, .dark {
    color: #4c5161;
}

.logo {
	width:100px;
	height:66px;
	line-height:34px;
	margin:10px 0 10px 50px;
	background:url(logoo.png) no-repeat center;
	background-size: 100%;
	text-indent: -99em;
	overflow: hidden; 
}

.header{
	background-color:#fff;
	position:absolute;
	z-index:1;
	overflow:hidden;
	width:200px;
}

.main > section{
	min-height:calc(100vh - 62px);
	overflow:hidden
}

.section_main{
	padding:0 30px;
	overflow:hidden;
	font-size:medium;
	line-height:1.6;
}

.section_auto{
	padding-bottom:60px
}

.section_title{
	margin:40px 0 50px;
	font-size:32px
}

.section_main h3 {
    margin: 2em 0 1em;
    font-size: 24px;
}

.section_main p {
    margin: 1em 0;
    color: #666;
}
